@tailwind base;
@tailwind components;
@tailwind utilities;

header,
main,
footer {
  margin: 0 auto;
  max-width: 100%;
  padding: 0%;
}

.Logoimg {
  width: 20%;
  height: auto;
}

.SearchButton {
  width: 10%;
}

.Logoimg1 {
  width: 10%;
  height: auto;
}
